<configuration>
  <property name="LOGS_PATH" value="./owl-log/logs"/>
  <property name="LOGS_LEVEL" value="INFO"/>
  <springProperty scope="context" name="LOGSTASH_HOST" source="logging.logstash.host"/>
  <springProperty scope="context" name="LOGSTASH_PORT" source="logging.logstash.port"/>

  <!-- 콘솔 출력 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] %cyan(%logger{36}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- 테스트용: 콘솔 WARN 이상만 -->
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>